# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
sudo: false
cache: packages
apt_packages:
    - libv8-dev

after_success:
  - Rscript -e 'covr::codecov()'
