# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
sudo: required
cache: packages
apt_packages:
    - libv8-dev

before_install: Rscript -e 'install.packages("devtools")'

after_success:
  - Rscript -e 'covr::codecov()'

matrix:
  include:
    - os: linux
      r: release
    - os: linux
      r: oldrel
      r_github_packages: ropensci/jsonld
